{% extends 'common_app/base.html' %}

{% load crispy_forms_filters %}
{% block body_block %}

    <div class="container">

        <div class="col-lg-8">
            <form method="POST">
                <h2>Login</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-secondary">Login</button>
                <br>
                <br>
                <span>Don`t have an account?<a style="color:red"
                                               href="{% url 'signup' %}">Sign up here</a></span>
            </form>
        </div>

    </div>
{% endblock %}